<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
         convertDeprecationsToExceptions="false"
>
    <testsuites>
        <testsuite name="Google Pub/Sub transport implementation for Symfony Messenger Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled" />
        <env name="APP_ENV" value="test" force="true" />
        <env name="APP_SYSTEM" value="core_dam_bundle" force="true" />
        <env name="APP_NAMESPACE" value="petit" force="true" />
        <env name="APP_VERSION" value="0.0.0" force="true" />
        <env name="APP_READ_ONLY_MODE" value="false" force="true" />
        <env name="APP_DEBUG" value="false" force="true" />
    </php>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">.</directory>
        </include>
        <exclude>
            <directory>./vendor</directory>
            <directory>./tests</directory>
            <directory>src/DataFixtures</directory>
            <directory>src/Resources</directory>
            <directory>src/DependencyInjection</directory>
        </exclude>
    </coverage>
    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
    </listeners>
</phpunit>
